.headDiv {
    margin:0px auto;
    width: 1000px;
    height: 60px;
    background-color: #66FF59;
    border-radius: 10px;
}

.bodyDiv {
    display: flex;
    margin:10px auto;
    width: 1000px;
    height: 500px;
    background-color: 	#66FF59;
    border-radius: 10px;

}



.foodDiv {
    margin: 0px auto;
    width: 1000px;
    height: 50px;
    background-color: 	#66FF59;
    border-radius: 10px;
}

.body {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.btn {
    border-color: darkorchid;
    height: 40px;
    width: 100px;
    font-family: "Microsoft JhengHei";
    font-size: 16px;
    border-radius: 20px;
    background-color:black;
    color: #66FF59;
}
.btnJs {
    margin-top: 10px;
    margin-left: 20px;
}

.btnSd {
    margin-top: 10px;
    margin-left: 20px;
}


.btnFp{
    margin-top: 10px;
    margin-left: 320px;
}

.btnNone {
    color: darkorchid;
}
